<MissionPackageManifest version="2">
<Configuration>
    <Parameter name="uid" value="{{ _datapackage_uuid }}"/>
    <Parameter name="name" value="enrollmentDP.zip"/>
    <Parameter name="onReceiveDelete" value="true"/>
</Configuration>
<Contents>
    <Content ignore="false" zipEntry="config.pref"/>
    <Content ignore="false" zipEntry="caCert.p12"/>
</Contents>
</MissionPackageManifest>
